In [33]:
#a)read items CSV making item_name as index 

import pandas as pd
import numpy as np
items= pd.read_csv('items.csv', index_col='item_name')
print(items)

                                      item_price
item_name
Chips and Fresh Tomato Salsa              $2.39
Izze                                      $3.39
Nantucket Nectar                          $3.39
Chips and Tomatillo-Green Chili Salsa     $2.39
Chicken Bowl                             $16.98
...                                          ...
Steak Burrito                            $11.75
Steak Burrito                            $11.75
Chicken Salad Bowl                       $11.25
Chicken Salad Bowl                        $8.75
Chicken Salad Bowl                        $8.75

[4622 rows x 1 columns]

In [34]:
#b) show number of nan values 
#  nan_count = items['item_price'].isnull().sum()
# print(nan_count)
print("Nan Values ", items.isna().sum())

Nan Values  item_price    50
dtype: int64

In [38]:
#3 Item price is given in dollars($) so convert it to rupees without currency symbol. 
items['item_price'] = items['item_price'].replace('[$]', '', regex=True).astype(float)*83
print(items['item_price'])

item_name
Chips and Fresh Tomato Salsa              198.37
Izze                                      281.37
Nantucket Nectar                          281.37
Chips and Tomatillo-Green Chili Salsa     198.37
Chicken Bowl                             1409.34
                                          ...
Steak Burrito                             975.25
Steak Burrito                             975.25
Chicken Salad Bowl                        933.75
Chicken Salad Bowl                        726.25
Chicken Salad Bowl                        726.25
Name: item_price, Length: 4622, dtype: float64

In [36]:
#d) datatype display
print("Datatype :", items['price_inr'].dtype)

Datatype : float64

In [39]:
items['price_inr'] = items['price_inr'].fillna(items['price_inr'].mean())
print(items.head(100))

                                       item_price  price_usd  price_inr
item_name
Chips and Fresh Tomato Salsa               198.37       2.39     198.37
Izze                                       281.37       3.39     281.37
Nantucket Nectar                           281.37       3.39     281.37
Chips and Tomatillo-Green Chili Salsa      198.37       2.39     198.37
Chicken Bowl                              1409.34      16.98    1409.34
...                                           ...        ...        ...
Barbacoa Bowl                              767.75       9.25     767.75
Chips and Guacamole                        369.35       4.45     369.35
Carnitas Bowl                              975.25      11.75     975.25
Chicken Burrito                            726.25       8.75     726.25
Chicken Bowl                               726.25       8.75     726.25

[100 rows x 3 columns]